# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
!android/app/src/main/assets/
!android/app/src/main/res/

# Android
android/.gradle/
android/.idea/
android/app/debug/
android/app/profile/
android/app/release/
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Runner.xcworkspace/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
DerivedData/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/.dart_tool/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Environment files
.env
.env.*

# Obfuscation & Symbolication
app.*.symbols
app.*.map.json
